a.text-logo{
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 32px;
}

a.navbar-button{
	font-family: 'Courgette', cursive;
	color: white;
	font-size: 26px;
}

.navbar-list{
	font-family: 'Courgette', cursive;
	color: #062F4f;
	font-size: 16px;
}

.font-color{
	font-family: 'Courgette', cursive;
	color: #062F4f;
}

.font-only{
	font-family: 'Courgette', cursive;
}

.spaced-col{
		display: inline-block;
	  margin-left: 20px;
  }

.spaced-row{
		display: inline-block;
	  margin-top: 20px;
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-white {
    background-color: white; 
    color: #062F4f; 
    border: 2px solid #062F4f;
}

.button-white:hover {
    background-color: #062F4f;
    color: white;
}

.button-blue {
    background-color: #062F4f; 
    color: white; 
    border: 2px solid white;
}

.button-blue:hover {
    background-color: white;
    color: #062F4f;
    border: 2px solid #062F4f;
}

.button-red {
    background-color: #d10e0e; 
    color: white; 
    border: 2px solid white;
}

.button-red:hover {
    background-color: white;
    color: #d10e0e;
    border: 2px solid #d10e0e;
}

.button-green {
    background-color: #14b211; 
    color: white; 
    border: 2px solid white;
}

.button-green:hover {
    background-color: white;
    color: #14b211;
    border: 2px solid #14b211;
}

.button-orange {
    background-color: #f76009; 
    color: white; 
    border: 2px solid white;
}

.button-orange:hover {
    background-color: white;
    color: #f76009;
    border: 2px solid #f76009;
}

.button-maroon {
    background-color: #440000; 
    color: white; 
    border: 2px solid white;
}

.button-maroon:hover {
    background-color: white;
    color: #440000;
    border: 2px solid #440000;
}

.textbox{
    height: 30px;
    font-size: 14px;
}